@inherits DashboardViewModel

<AuthorizeView Roles="Kunde">
    <Authorized>
        @if (Loading)
        {
            <MudProgressCircular Color="Color.Primary" Value="100" Size="Size.Medium" Indeterminate="@Loading" Style="margin-top: 10px;" />
        }

        @if (Courses != null && Courses.Count() > 0)
        {
            <MudGrid Class="m-4">
                <Virtualize Items="@Courses" Context="item" OverscanCount="10" TItem="CourseDto">
                    <ItemContent>
                        <MudItem xs="12" sm="6" md="6" lg="4">
                            <MudCard Elevation="5" Class="mb-3" Style="display: flex; flex-direction: column; height: 430px;">
                                <MudCardHeader Style="background-color: var(--mud-palette-primary); color: white;">
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.body2" style="color:white; font-weight:bold"> @item.Name</MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent Style="flex-grow: 1; overflow: auto; padding-bottom: 0;">
                                    <MudText Typo="Typo.body1" Color=Color.Primary style="font-weight:bold" Class="mt-2">Kursname</MudText>
                                    <MudText Typo="Typo.body2"> @item.Name </MudText>
                                    <MudText Typo="Typo.body1" Color=Color.Primary style="font-weight:bold" Class="mt-2">Chapters Number</MudText>
                                    <MudText Typo="Typo.body2"> @item.Chapters.Count() </MudText>
                                    <MudText Typo="Typo.body1" Color=Color.Primary style="font-weight:bold" Class="mt-2">Completed Chapters</MudText>
                                    <MudText Typo="Typo.body2"> @item.CompletedChapters.Count() </MudText>
                                    <MudText Typo="Typo.body1" Color=Color.Primary style="font-weight:bold" Class="mt-2">Completion rate</MudText>
                                    <MudText Typo="Typo.body2" Class="mt-2">@item.CalculateCourseCompletionRate</MudText>
                                </MudCardContent>

                                <MudCardActions Style="display:flex; flex-direction:row">
                                    <MudButton class="ml-2" Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Secondary" Variant="Variant.Filled" OnClick="@(() => OpenCourseChapters(item))">View Course</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    </ItemContent>
                </Virtualize>
            </MudGrid>
        }
        else
        {
            <div class="w-100 text-center" style="margin-top: 20px;">
                <MudText Typo="Typo.body2">Derzeit sind keine Beiträge verfügbar.</MudText>
            </div>
        }
    </Authorized>
</AuthorizeView>
